@page "/searchByTag/{tag}"
@page "/tag/{tag}"
@page "/tags/{tag}"
@page "/category/{tag}"
@page "/categories/{tag}"
@using LinkDotNet.Blog.Domain
@using LinkDotNet.Blog.Infrastructure
@using LinkDotNet.Blog.Infrastructure.Persistence
@inject IRepository<BlogPost> BlogPostRepository

<PageTitle>Search for tag: @Tag</PageTitle>

<h3>All posts with Tag <em>@Tag</em></h3>

@if (!_isLoaded)
{
    <Loading/>
}
else if (_isErrored)
{
    <nav class="alert alert-danger" role="alert">
        <p>Something went wrong while loading the posts for tag <em>@Tag</em></p>
    </nav>
}
else if (blogPosts.Count == 0)
{
    <p>No posts found for tag <em>@Tag</em></p>
}
else
{
    @for (var i = 0; i < blogPosts.Count; i++)
    {
        <ShortBlogPost BlogPost="blogPosts[i]" UseAlternativeStyle="@(i % 2 != 0)"></ShortBlogPost>
    }
}

@code {
    [Parameter, EditorRequired]
    public required string Tag { get; set; }

    private bool _isLoaded;
    private bool _isErrored;

    IReadOnlyList<BlogPost> blogPosts = PagedList<BlogPost>.Empty;
    protected override async Task OnParametersSetAsync()
    {
        _isLoaded = false;
        _isErrored = false;

        try
        {
            Tag = Uri.UnescapeDataString(Tag);
            blogPosts = (await BlogPostRepository
                .GetAllAsync(
                    b => b.IsPublished,
                    b => b.UpdatedDate))
                // FIXME: we can't do this inside the query when using MySQL
                // because we get this error:
                // Primitive collections support has not been enabled. Either
                // rewrite the query in a form that can be translated, or
                // switch to client evaluation explicitly by inserting a call
                //  to 'AsEnumerable', 'AsAsyncEnumerable', 'ToList', or
                // 'ToListAsync'.
                // See https://go.microsoft.com/fwlink/?linkid=2101038 for more information.
                .Where(b => b.Tags.Any(t => string.Equals(t, Tag, StringComparison.OrdinalIgnoreCase)))
                .ToArray();
        }
        catch
        {
            _isErrored = true;
        }
        finally
        {
            _isLoaded = true;
        }
    }
}
