@page "/courses"
@using Blazorise
@using LinkDotNet.Blog.Infrastructure.Persistence
@using LinkDotNet.Blog.Domain
@using System.Collections.Immutable
@using System.Globalization
@using LinkDotNet.Blog.Web.Features.ShowBlogPost.Components
@inject NavigationManager NavigationManager

<OgData Title="Courses" Description="Check out these courses on C#, dotnet, software engineering, and career advice that I've created!"></OgData>

<div class="container">
    <p>I’m a firm believer that the most effective way for us to improve as software engineers is to build software. However, I still publish free articles and videos to help supplement learning. And for that same reason, I’ll be offering courses of different kinds here. If you are using these materials to supplement your efforts in building things, then I think you’re on the right track!</p>

    <Blazorise.Divider />

    <h2 class="wp-block-heading">Dometrain Courses</h2>
    <p>These are <a href="https://dometrain.com/author/nick-cosentino?ref=nick-cosentino" target="_blank" rel="noopener" title="Nick Cosentino's Courses on Dometrain">software engineering career courses and programming courses</a> that are hosted on Dometrain. Dometrain courses are paid for and generally much longer and more in-depth than the other courses I will offer here. Nick Chapsas has created an *awesome* platform for getting some of the most experienced software engineers and software architects together to teach you about all of their experiences.</p>
    <p>I’m proud to be a Dometrain course author and will happily continue to support the platform!</p>

    <br />
    <h3 class="wp-block-heading">Career Courses</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var course in CareerCourses)
        {
            <div class="col">
                <CourseCard Title="@course.Title"
                            ImageUrl="@course.ImageUrl"
                            Description="@course.Description"
                            Link="@course.Link"
                            IsBundle="@course.IsBundle" />
            </div>
        }
    </div>

    <br />
    <h3 class="wp-block-heading">C# and DotNet Courses</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var course in CodingCourses)
        {
            <div class="col">
                <CourseCard Title="@course.Title"
                            ImageUrl="@course.ImageUrl"
                            Description="@course.Description"
                            Link="@course.Link"
                            IsBundle="@course.IsBundle" />
            </div>
        }
    </div>

    <Blazorise.Divider />

    <h2 class="wp-block-heading">Free Courses</h2>
    <p>These are software engineering courses and programming courses that are freely available to all! No membership. No cost. No strings attached.</p>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var course in FreeCourses)
        {
            <div class="col">
                <CourseCard
                    Title="@course.Title"
                    ImageUrl="@course.ImageUrl"
                    Description="@course.Description"
                    Link="@course.Link"
                    IsBundle="@course.IsBundle" />
            </div>
        }
    </div>
</div>

@code {
    private List<CourseInfo> CareerCourses { get; } = new List<CourseInfo>()
    {
        new CourseInfo
        {
            Title = "Getting Promoted as a Software Engineer",
            ImageUrl = "https://devleader-d2f9ggbjfpdqcka7.z01.azurefd.net/media/courses%20-%20dometrain%20-%20promoted-software-career.webp",
            Description = "Learn techniques and practices to get your dream promotion in software engineering.",
            Link = "https://dometrain.com/course/career-getting-promoted-as-a-software-engineer/?ref=nick-cosentino",
        },
        new CourseInfo
        {
            Title = "Nailing the Behavioral Interview",
            ImageUrl = "https://devleader-d2f9ggbjfpdqcka7.z01.azurefd.net/media/2024/09/courses-dometrain-behavioral-interview.webp",
            Description = "Prepare for and ace the behavioral part of your next software engineering interview.",
            Link = "https://dometrain.com/course/career-nailing-the-behavioral-interview/?ref=nick-cosentino"
        },
        new CourseInfo
        {
            Title = "Soft Skills for Software Engineers",
            ImageUrl = "https://devleader-d2f9ggbjfpdqcka7.z01.azurefd.net/media/courses%20-%20dometrain%20-%20soft%20skills.webp",
            Description = "Learn all the essential soft skills required for software engineers.",
            Link = "https://dometrain.com/course/career-soft-skills-for-software-engineers/?ref=nick-cosentino"
        },
    };

    private List<CourseInfo> CodingCourses { get; } = new List<CourseInfo>()
    {
        new CourseInfo
        {
            Title = "From Zero to Hero: C# Course Bundle",
            ImageUrl = "https://devleader-d2f9ggbjfpdqcka7.z01.azurefd.net/media/2024/04/courses-dometrain-C-bundle.webp",
            Description = "All the courses you need to learn modern C#! This bundle contains the 'Getting Started' and 'Deep Dive' courses at a 20% discount!",
            Link = "https://dometrain.com/bundle/from-zero-to-hero-csharp/?ref=nick-cosentino",
            IsBundle = true
        },
        new CourseInfo
        {
            Title = "Getting Started: C#",
            ImageUrl = "https://devleader-d2f9ggbjfpdqcka7.z01.azurefd.net/media/2024/02/courses-dometrain-C-getting-started-wide.webp",
            Description = "Learn everything you need to know to start programming with C#.",
            Link = "https://dometrain.com/course/getting-started-csharp?ref=nick-cosentino"
        },
        new CourseInfo
        {
            Title = "Deep Dive: C#",
            ImageUrl = "https://devleader-d2f9ggbjfpdqcka7.z01.azurefd.net/media/2024/03/courses-dometrain-C-deep-dive-wide.jpg",
            Description = "Dive deeper into C#'s feature set and learn more advanced features and patterns.",
            Link = "https://dometrain.com/course/deep-dive-csharp?ref=nick-cosentino"
        },
        new CourseInfo
        {
            Title = "From Zero to Hero: Reflection in .NET",
            ImageUrl = "https://devleader-d2f9ggbjfpdqcka7.z01.azurefd.net/media/2024/08/courses-dometrain-reflection.webp",
            Description = "Learn how to use reflection in your codebases correctly to build incredible software.",
            Link = "https://dometrain.com/course/from-zero-to-hero-reflection-in-dotnet/?ref=nick-cosentino"
        },
        new CourseInfo
        {
            Title = "From Zero to Hero: Refactoring for C# Developers",
            ImageUrl = "https://devleader-d2f9ggbjfpdqcka7.z01.azurefd.net/media/2023/11/courses-dometrain-refactoring-for-csharp-devs-wide.webp",
            Description = "Learn how to refactor any C# codebase to make it more efficient, readable, and extendable.",
            Link = "https://dometrain.com/course/from-zero-to-hero-refactoring-for-csharp-developers?ref=nick-cosentino"
        },
    };

    private List<CourseInfo> FreeCourses { get; } = new List<CourseInfo>()
    {
        new CourseInfo
        {
            Title = "Introduction To Software Development",
            ImageUrl = "https://devleader-d2f9ggbjfpdqcka7.z01.azurefd.net/media/courses%20-%20free%20-%20introduction%20to%20software%20development.webp",
            Description = "This free mini-course is PERFECT for those considering a start in software development and learning about what it is.",
            Link = "https://www.youtube.com/playlist?list=PLzATctVhnsggb3lj53T8fJSK6LJQFUyKS"
        },
    };

    public class CourseInfo
    {
        public string? Title { get; init; }
        public string? ImageUrl { get; init; }
        public string? Description { get; init; }
        public string? Link { get; init; }
        public bool IsBundle { get; init; }
    }
}
